body {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.head {
  color: whitesmoke;
  background-color: rgb(38, 38, 100);
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  padding: 22px 12px;
}
h1, h2, h3{
  margin: 0;
}
.main {
  padding: 30px;
  background-image: url(https://images.unsplash.com/photo-1534452203293-494d7ddbf7e0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=872&q=80);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: flex-end;
}
.pageOne, .pageTwo {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  background-color: ivory;
  width: 50%;
  border-radius: 25px;
  padding: 17px 10px;
  filter: drop-shadow(rgba(0, 0, 0, 0.5) 0px 2px 5px);
}
.description {
  font-size: 16px;
}
.img-form {
  display: flex;
}
.box-image {
  width: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 20px 0 30px;
}
.img-pago-electrónico {
  width: 100%;
  filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.5));
}
.img-pago-electrónico:hover {
  -webkit-transform:scale(1.05);
  transform:scale(1.05)
}
.formulario-tarjeta {
  width: 55%;
  padding: 8px;
  display: flex;
  flex-flow: column nowrap;
}
.data {
  font-size: 14px;
  padding: 8px 0 3px 5px;
}
.data-input {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 14px;
  padding: 5px 10px;
  width: 85%;
  border-radius: 8px;
  border: 1px solid #c8c8c8;
}
.checkbox-botones {
  padding: 5px 0;
  display: flex;
  flex-flow: column;
}
.buttons {
  display: flex;
  justify-content: space-evenly;
}
.button {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  width: 38%;
  font-size: 15px;
  font-weight: bold;
  margin-top: 12px;
  padding: 5px 2px;
  border: none;
  border-radius: 8px;
  background-color: #2fa52f;
  color: #fff;
}
.button:hover {
  cursor: pointer;
  color: #000;
}
footer {
  display: flex;
  justify-content: center;
  font-size: 13px;
  padding: 4px;
  background-image: url(https://images.unsplash.com/photo-1534452203293-494d7ddbf7e0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=872&q=80);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter:brightness(0.7);
}

.pageTwo {
  width: 30%;
  padding: 40px 60px;
  margin: 3% 15px 3% auto;
}
table {
  width: 100%;
  padding: 20px 40px;
  font-size: 15px;
  gap: 8px;
}
.column-left {
  text-align: left;
}
.column-right {
  text-align: right
}
.addCardNumber{
  color: rgb(84, 218, 106);
}
h3 {
  padding-bottom: 10px;
}